.wrap-featured {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 105vh;
  margin-left: -3vw;
  background-image: url(../../img/background-dark02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(-5px) scale(6);
  z-index: -1;
}